
/*Information across all pages*/
.header {
  padding: 60px;
  text-align: center;
  background: #F0E6AB;

  font-size: 30px;
}

img  {
    float: right;
  }

text {
    align: left
  }

body  {
  font-family: EB Garamond, Garamond, serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #C4EFC7;
}

.topnav a {
  float: left;
  color: #423f3f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #F0E6AB;
  color: pale yellow;
}

.topnav a.active {
  background-color: #fcab53;
  color: grey;
}

.navbar {
  overflow: hidden;
  background-color: #C4EFC7;
  position: sticky;
  bottom: 2px;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #423f3f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background: #F0E6AB;
  color: pale yellow;
}
.navbar a.active {
  background-color: #fcab53;
  color: grey;
}
.main {
  padding: 16px;
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
  
}

/*tr div created to enhance legibility for end user*/
tr {
  border-bottom: 1px solid #ddd;
}

td {
    width: 100px;
}

ul.no-bullets {
  list-style-type: none;
  margin: 1px;
  padding: 1px 4px;
}

/*h4 div created to ensure consistency across pages*/
h4 {text-align: right;
    font-size:40px
}

div.main-section-container {
  padding-top: 0%;
  padding-right: 0%;
  padding-left: 5%;
  margin: auto;
  text-align: left;
}

/*Textdiv and imgdiv created to ensure clean, legible layout*/ 
.textdiv {
  width: 50%;
  float: left
}

.imgdiv {
  margin: 0;
  padding: 0;
  width:50%;
  height: auto;
  float: right;
}

/*Imgdivlibraries created to allow for cleaner spacing on specific page*/
.imgdivlibraries {
  margin: 0;
  padding: 0;
  width:40%;
  height: auto;
  float: right;
}

/*Div created for homepage only, so as to fill space effectively and highlight the welcome message*/
.homepage {
  font-size: 25px;
}

/*Div created for contact page text only, so as to not effect other pages' text*/
.contactpage {
  font-size: 25px;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-right: 150px;
  margin-left: 200px;
}

* Mobile devices (Portrait) */
@media only screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  nav {
    text-align: left;
    padding: 10px;
  }

  nav a {
    font-size: 14px;
    padding: 8px;
    display: block; /* Stack links vertically */
  }
}

/* Mobile devices (Landscape) */
@media (max-width: 480px) {
  body {
    font-size: 14px; /* Smaller text for smaller screens */
  }

  header {

    padding: 8px;
    font-size: 14px;
  }

  nav a {

    padding: 6px;
    font-size: 12px;
  }
}

/* Very small screens, like phones in portrait mode */
@media (max-width: 320px) {
  header {
    font-size: 12px;
  }

  nav a {
    font-size: 12px;
    padding: 5px;
  }
}