.header {
  padding: 60px;
  text-align: center;
  background: #F0E6AB;
  color: paleyellow;
  font-size: 30px;
}
img  {
    float: right;
  }
  text {
    align: left
  }
  <h1 style="font-size:60px;">Heading 1</h1>
/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800 */
body  {
  font-family: EB Garamond, Garamond, serif;
  font-optical-sizing: 20px;
  font-size: 
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  font-family: EB Garamond, Garamond, serif;
}
.topnav {
  overflow: hidden;
  background-color: #C4EFC7;
}
.topnav a {
  float: left;
  color: #423f3f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #F0E6AB;
  color: pale yellow;
}
.topnav a.active {
  background-color: #fcab53;
  color: grey;
}
body {
  margin: 0;
  font-family: EB Garamond, Garamond, serif;
}
.navbar {
  overflow: hidden;
  background-color: #C4EFC7;
  position: f;
  bottom: 2;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  color: #423f3f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background: #F0E6AB;
  color: pale yellow;
}
.navbar a.active {
  background-color: #fcab53;
  color: grey;
}
.main {
  padding: 16px;
  margin-bottom: 30px;
}
table {border: none;}
<style>
ul.no-bullets {
  list-style-type: none;
  margin: 1;
  padding: 1,4;
}
h4 {text-align: center;
    font-size:60px
}
</style>