
/*Information across all pages*/
.header {
  padding: 60px;
  text-align: center;
  background: #F0E6AB;
  color: paleyellow;
  font-size: 30px;
}

img  {
    float: right;
  }

text {
    align: left
  }

body  {
  font-family: EB Garamond, Garamond, serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  margin: 0;
  font-family: EB Garamond, Garamond, serif;
}

.topnav {
  overflow: hidden;
  background-color: #C4EFC7;
}

.topnav a {
  float: left;
  color: #423f3f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #F0E6AB;
  color: pale yellow;
}

.topnav a.active {
  background-color: #fcab53;
  color: grey;
}

.navbar {
  overflow: hidden;
  background-color: #C4EFC7;
  position: sticky;
  bottom: 2;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #423f3f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background: #F0E6AB;
  color: pale yellow;
}
.navbar a.active {
  background-color: #fcab53;
  color: grey;
}
.main {
  padding: 16px;
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
  
}

tr {
  border-bottom: 1px solid #ddd;
}

td {
    style-width: 100px;
}

ul.no-bullets {
  list-style-type: none;
  margin: 1;
  padding: 1,4;
}

h4 {text-align: right;
    font-size:40px
}

div.main-section-container {
  padding-top: 0%;
  padding-right: 0%;
  padding-left: 5%;
  margin: auto;
  text-align: left;
}

.textdiv {
  width: 50%;
  float: left
}

.imgdiv {
  margin: 0;
  padding: 0;
  width:50%;
  height: auto;
  float: right;
}

/*Imgdivlibraries created to allow for cleaner spacing*/
.imgdivlibraries {
  margin: 0;
  padding: 0;
  width:40%;
  height: auto;
  float: right;
}

/*Div created for contact page text only, so as to not effect other pages' text*/
.contactpage {
  font-size: 25px;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-right: 150px;
  margin-left: 200px;
}
